.about {
  margin-top: 30px;
  .slideAboutBox {
    display: flex !important;
    flex-wrap: wrap;
    padding-top: 35px;
    align-items: center;
    justify-content: center;
  }
  .container {
    max-width: 1320px !important;
  }
  img {
    margin: 0 auto;
  }
  .button {
    padding: 16px 26px;
    text-decoration: none;
    margin-top: 37px;
    display: block;
    max-width: 200px;
  }
  .button:hover {
    opacity: 0.8;
    color: white;
  }
  .sliderabout {
    margin-bottom: 0px !important;
  }
  .slick-dots {
    bottom: 20px;
  }
}

.redwrap {
  background-size: contain;
  position: relative;
  padding: 23px 0px 16px 0px;
  .container {
    max-width: 1320px !important;
  }
  p:first-child {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  p:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
  img {
    position: absolute;
    top: -30px;
  }
  .row {
    .redwrapname {
      max-width: 850px;
      margin: 0 auto;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #ffffff;
      margin-bottom: 16px;
    }
  }
  p {
    margin: 0px;
  }
}

.opinions {
  .container {
    max-width: 1320px !important;
  }
  .slideropinion {
    max-width: 760px !important;
    margin: 0 auto;
    display: block;
  }
  .slideOpinionsBox {
    display: flex !important;
    flex-wrap: wrap;
    padding-top: 140px;
    position: relative;
  }
  p {
    margin-bottom: 0px;
  }
  .opinion {
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #1c1c1c;
  }
  .slick-next,
  .slick-prev {
    top: 67% !important;
  }
  .authoropinion {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #1c1c1c;
  }
  .positionopinion {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #1c1c1c;
  }
  .slick-next:before,
  .slick-prev:before {
    color: black;
  }
  .slideOpinionsBox::after {
    content: "";
    height: 100%;
    width: 100%;
    max-width: 140px;
    max-height: 140px;
    z-index: 9999;
    background-size: contain;
    top: 63px;

    background-repeat: no-repeat;
    position: absolute;
    background-image: url(../imgs/srednik.png);
  }
}

@media (max-width: 768px) {
  .about {
    p {
      text-align: center;
    }
    .button {
      margin: 0 auto;
    }
    img {
      width: 100%;
      max-width: 300px;
      object-fit: contain;
      margin-top: 40px;
    }
  }

  .redwrap {
    img {
      display: none;
    }
    p {
      text-align: center;
    }
    div {
      div {
        margin: 10px 0px;
      }
    }
  }
  .opinions {
    .slick-next,
    .slick-prev {
      display: none !important;
    }
    p {
      text-align: center;
    }
  }
}
